<div class="container">
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="200px">

        <mat-icon style="color: #ff0000; " class="err-icon red-500 s-60">close</mat-icon>


    </div>

    <div mat-dialog-content fxLayout="row" fxLayoutAlign="center center">
        <p>{{message}}</p>
    </div>

    <div mat-dialog-content fxLayout="row" fxLayoutAlign="center center">
        <p>{{ 'ROBUSTESSE.RETRY' | translate }}</p>
    </div>

    <div mat-dialog-actions fxLayout="row" fxLayoutAlign="center center" fxLayoutGap = 30px>
        <button mat-button class="my-button" color="accent" (click)="onConfirm()" > OK </button>
    </div>
</div>
