<div id="products" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent"
             fxLayout="column" fxLayoutAlign="center center"
             fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between center">

            <!-- APP TITLE -->
            <div class="logo mb-24 mb-md-0">
                <h1 class="md-display-3">{{ 'NAV.ARCHIVE' | translate }}</h1>
            </div>
            <!-- / APP TITLE -->
            <!-- SEARCH -->
            <div class="search-wrapper mx-32 mx-md-0">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>search</mat-icon>
                    <input #filter placeholder="{{ 'mail.CHERCHER_COURRIER' | translate }}">
                </div>
            </div>


            <!-- / SEARCH -->



        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <mat-table class="products-table"
                       #table [dataSource]="dataSource"
                       matSort
                       [@animateStagger]="{value:'50'}"
                       fusePerfectScrollbar>

                <!-- ID Column -->
                <ng-container matColumnDef="type">
                    <mat-header-cell *matHeaderCellDef mat-sort-header><a>Type</a></mat-header-cell>
                    <mat-cell *matCellDef="let Mail">
                        <p *ngIf="Mail.type === 'ARRIVED'" >Arrivé</p>
                        <p *ngIf="Mail.type === 'DEPARTURE'" >Depart</p>

                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="idDirectory">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                        <a>{{ 'mail.DIRECTORY_ID' | translate }} </a>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let Mail">
                        <p class="text-truncate" >{{Mail.idDirectory}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="idEntry">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                        <a>{{ 'mail.ID_ENTRY' | translate }}
                        </a></mat-header-cell>
                    <mat-cell *matCellDef="let Mail">
                        <p class="text-truncate" >{{Mail.idEntry}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="subject">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>

                        <a>{{ 'mail.OBJET' | translate }}</a>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let Mail">

                        <p class="text-truncate" >{{Mail.subject}}</p>
                    </mat-cell>
                </ng-container>

                <!-- expediteur -->
                <ng-container matColumnDef="senderOrReceiver">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                        <a>{{ 'mail.EXPEDITEUR_RECEIVER' | translate }}</a>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let Mail">
                        <p class="text-truncate">{{Mail.senderOrReceiver}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Date -->
                <ng-container matColumnDef="dateCreation">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                        <a>{{ 'mail.DATE_CREATION' | translate }}</a>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let Mail">

                        <p class="text-truncate" >{{Mail.dateCreation}}</p>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>



                <mat-row  matRipple *matRowDef="let mail; columns: displayedColumns;"
                         class="product"

                          (click)="showMailDetails(mail)"
                         >


                </mat-row>

            </mat-table>

            <mat-paginator #paginator
                           [length]="dataSource.filteredData.length"
                           [pageIndex]="0"
                           [pageSize]="10"
                           [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>

        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
