.carded left-sidebar {

}

.mat-list-item {
    min-height: 80px;
    overflow: scroll;

}
.sidebar{
    width: 800px;
}

.header p-24 accent{
    color: #0c050c;
}
.center{
    padding-bottom: 80px;
    align-items: center;
}

form {
    width: 100%;
    max-width: 800px !important;
}

.form-errors-model {
    flex: 1;

    code {
        background: none !important;
    }
}
.app-checkbox{
    margin: 0 12px;
}

.horizontal-stepper-wrapper{
    max-width: 1800px;
    width: 80%;
}