<div class="page-layout carded left-sidebar">

    <!-- CENTER -->
    <div class="center">

        <div class="h1 pt-32">
            {{ 'mail.DISPALY_ANNOTATION_VENTILATION' | translate }}
        </div>

        <p class="pb-32">

        </p>

        <div class="horizontal-stepper-wrapper">

            <!-- HORIZONTAL STEPPER EXAMPLE -->
            <mat-horizontal-stepper class="mat-elevation-z4" [linear]="true">

                <mat-step [stepControl]="horizontalStepperStep4">
                    <ng-template matStepLabel> <a>{{ 'mail.HISTORY' | translate }} </a></ng-template>
                    <div class="basic-container">
                        <mat-accordion >
                            <mat-expansion-panel *ngFor="let mailStep of mailSteps">

                                <mat-expansion-panel-header>
                                    <div class="header">
                                        <div class="playerOne" *ngIf="mailStep.type === 'Initiation'">   <strong>{{ 'VIEWINGMAIL.INITMAIL' | translate }}</strong> </div>
                                        <div class="playerOne" *ngIf="mailStep.type === 'Annotation'"> <strong>{{ 'VIEWINGMAIL.ANNOT_VENT' | translate }} </strong> </div>
                                        <div class="playerOne" *ngIf="mailStep.type === 'Terminate'"> <strong>{{ 'mail.CLOSEMAIL' | translate }} </strong>  </div>
                                        <div class="playerTwo   ">  <strong>{{mailStep.dateHandling}} </strong></div>
                                    </div>

                                </mat-expansion-panel-header>

                                <mat-list>
                                    <strong> <a>{{ 'VIEWINGMAIL.USER' | translate }}</a> </strong>
                                    <mat-divider></mat-divider>
                                    <mat-list-item > {{translateFunction(mailStep.user)}}</mat-list-item>

                                    <ng-container *ngIf="mailStep.type && mailStep.annotations?.length > 0">
                                        <strong > <a>{{ 'mail.ANNOTATION' | translate }}</a> </strong>
                                        <mat-divider ></mat-divider>
                                        <mat-list-item *ngFor="let annotation of mailStep.annotations"> {{translateLabel(annotation)}}

                                        </mat-list-item>
                                    </ng-container>

                                    <ng-container *ngIf="mailStep.ventilations && mailStep.ventilations?.length > 0">
                                        <strong> <a>{{ 'mail.VENTILATION' | translate }} </a> </strong>
                                        <mat-divider></mat-divider>
                                        <mat-list-item lass="instructions-area" *ngFor="let ventilation of mailStep.ventilations">{{ventilation.code + ' : ' + translateLabel(ventilation)}}</mat-list-item>
                                    </ng-container>

                                    <ng-container *ngIf="mailStep.specificInstructions">
                                        <strong> <a>{{ 'mail.SPECIFIC_INSTRUCTIONS' | translate }}</a></strong>
                                        <mat-divider></mat-divider>
                                        <mat-list-item>{{mailStep.specificInstructions}}</mat-list-item>
                                    </ng-container>
                                </mat-list>

                            </mat-expansion-panel>

                        </mat-accordion>
                    </div>

                </mat-step>

                <mat-step [stepControl]="horizontalStepperStep1">
                    <ng-template matStepLabel><a>{{ 'mail.DISPLAY' | translate }} </a></ng-template>
                    <div fxLayout="row" fxLayoutAlign="center">

                        <form fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" name="form">
                            <div class="h1 pt-32 pb-32" fxLayout="row" fxLayoutAlign="center">
                                {{ 'mail.MAIL_INFORMATION' | translate }}
                            </div>


                            <div class="h1 pb-32" fxLayout="row" fxLayoutAlign="center">

                                <button (click)="visualizeMailPDF()" mat-button>
                                    <svg-icon src="assets/icons/customAdmin/view.svg"
                                              [svgStyle]="{ 'width.px':22, 'height.px':16 }"></svg-icon>   {{ 'mail.DISPLAY' | translate }}</button>
                            </div>
                            <div fxLayout="row" fxFlex="1 0 auto">

                                <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                                    <mat-label>{{ 'mail.MAIL_DATE' | translate }}</mat-label>
                                    <input matInput [(ngModel)]="mail.receptionDate" disabled name="receptionDate">
                                    <mat-icon matSuffix class="disabled-text">today</mat-icon>
                                </mat-form-field>

                                <mat-form-field appearance="outline" fxFlex="50" class="pl-4">
                                    <mat-label>{{ 'mail.DIRECTORY_ID' | translate }}</mat-label>
                                    <input matInput [(ngModel)]="mail.idDirectory" name="idDirectory" disabled>
                                </mat-form-field>
                            </div>


                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                                <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
                                    <mat-label>{{ 'mail.ID_ENTRY' | translate }}</mat-label>
                                    <input [(ngModel)]="mail.idEntry" matInput name="idEntry" disabled>
                                    <mat-icon matSuffix class="disabled-text">flag</mat-icon>
                                </mat-form-field>

                                <mat-form-field appearance="outline" fxFlex="50" class="pl-4">
                                    <mat-label>{{ 'mail.IDRECEIVED_DOCUMENT' | translate }}</mat-label>
                                    <input matInput [(ngModel)]="mail.idReceivedDocument" name="idReceivedDocument"
                                           disabled>
                                    <mat-icon matSuffix class="secondary-text">flag</mat-icon>

                                </mat-form-field>
                            </div>

                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                                <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                                    <mat-label>{{ 'mail.RECEIVED_DOCUMENT_DATE' | translate }}</mat-label>
                                    <input matInput [matDatepicker]="picker" [(ngModel)]="mail.dateReceivedDocument"
                                           name="dateReceivedDocument" disabled>
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>

                                <mat-form-field appearance="outline" fxFlex="100" class="pl-4">
                                    <mat-label>{{ 'mail.SENDER_MAIL' | translate }}</mat-label>
                                    <input matInput [(ngModel)]="mail.sender" name="sender" disabled>
                                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                                </mat-form-field>
                            </div>

                            <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">

                                <mat-form-field appearance="outline" fxFlex="100">
                                    <mat-label>{{ 'mail.SUBJECT_MAIL' | translate }}</mat-label>
                                    <textarea [(ngModel)]="mail.subject" matInput name="subject" disabled>
                            </textarea>
                                </mat-form-field>
                            </div>

                            <div fxLayout="row" fxLayoutAlign="center center" *ngIf="mail.treated === false">
                                <button mat-raised-button matStepperNext type="button" color="accent">
                                    {{ 'mail.ANNOTATION_VENTILATION' | translate }}
                                </button>
                            </div>
                        </form>
                    </div>




                </mat-step>

                <mat-step [stepControl]="horizontalStepperStep2" *ngIf="mail.treated === false">
                    <div fxLayout="row" fxLayoutAlign="center" >
                        <form fxLayout="column">

                            <ng-template matStepLabel> <a> {{ 'mail.ANNOTATION' | translate }} </a> </ng-template>
                            <div fxLayoutAlign="space-between space-between" fxLayout="row" *ngIf="translate.currentLang === 'fr'">

                                <div fxLayoutAlign="start" fxLayout="column" >
                                    <mat-checkbox *ngFor="let annotation of annotations" name="annotations"
                                                  class="app-checkbox"
                                                  [(ngModel)]="annotation.value">

                                        {{chooseAnnotation(annotation)}}

                                        <!--{{translate.currentLang === 'fr' ? annotation.labelFR : annotation.labelAR }}-->

                                    </mat-checkbox>
                                </div>
                            </div>

                            <div style="margin-top:20px;">
                                <mat-form-field appearance="outline" fxFlex="100" >
                                    <mat-label>{{ 'mail.SPECIFIC_INSTRUCTIONS' | translate }}</mat-label>
                                    <textarea matInput [(ngModel)]="specificInstructions" name="specificInstructions"> </textarea>
                                </mat-form-field>
                            </div>
                            <div fxLayout="row" fxLayoutAlign="center center" class="pt-36">

                                <button class="mr-8" mat-raised-button (click)="confirmCloseMail()" type="button" color="accent">
                                    {{ 'mail.CLOSE' | translate }}
                                </button>
                                <button class="mr-8" mat-raised-button matStepperNext type="button" color="accent">
                                    {{ 'mail.VENTILATION' | translate }}
                                </button>

                            </div>

                        </form>
                    </div>

                </mat-step>

                <mat-step [stepControl]="horizontalStepperStep3" *ngIf="mail.treated === false">
                    <div fxLayout="row" fxLayoutAlign="center">

                        <form fxLayout="column" fxLayoutAlign="center center" >

                            <ng-template matStepLabel> <a> {{ 'mail.VENTILATION' | translate }} </a> </ng-template>

                            <div fxLayoutAlign="space-between space-between" fxLayout="row">


                                <div fxLayoutAlign="start" fxLayout="column"*ngIf="translate.currentLang === 'ar'">

                                    <mat-checkbox *ngFor="let direction of ventilationList" name="directions"
                                                  class="app-checkbox"

                                                  [(ngModel)]="direction.value"> {{direction.code}} - {{direction.labelAR}}
                                    </mat-checkbox>
                                </div>
                                <div fxLayoutAlign="start" fxLayout="column"*ngIf="translate.currentLang === 'fr'">

                                    <mat-checkbox *ngFor="let direction of ventilationList" name="directions"
                                                  class="app-checkbox"

                                                  [(ngModel)]="direction.value"> {{direction.code}} - {{direction.labelFR}}
                                    </mat-checkbox>
                                </div>

                            </div>



                            <div fxLayout="row" fxLayoutAlign="center center" class="pt-36" x>
                                <button  class="mr-8" mat-raised-button type="button" color="accent"
                                        (click)="annotateAndVentilate()" [disabled]="!canConfirm()" >
                                    {{ 'mail.CONFIRM' | translate }}
                                </button>

                            </div>

                        </form>
                    </div>

                </mat-step>


            </mat-horizontal-stepper>

        </div>

    </div>

</div>



