:host {
.sc-home-container{
  display: flex;
  flex-direction: column;
  align-items: center;
    width: 100%;

  .mat-card{
    margin: 1em;
    min-width: 180px;
    min-height: 120px;
    text-align: center;
  }

  }
    .your-title {
        font-family: Pluto-Bold;
        font-size: 23px;
        line-height: 25px;
    }
}
