

<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" class="full-width" >

    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px" class="full-width">

        <mat-card class="mat-elevation-z8" routerLink="sc-workflow/arrivedMail-sc" >
            <svg-icon src="assets/icons/customAdmin/arrive.svg"
                      [svgStyle]="{ 'width.px':200, 'height.px':100 }"></svg-icon>
            <div class="your-title"> {{ 'mail.COURRIER_ARRIVEE' | translate }}</div>
        </mat-card>




        <mat-card class="mat-elevation-z8" >
            <svg-icon src="assets/icons/customAdmin/depart.svg"
                      [svgStyle]="{ 'width.px':200, 'height.px':100 }"></svg-icon>
            <div class="your-title">{{ 'mail.COURRIER_DEPART' | translate }}</div>
        </mat-card>
    </div>



    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px" class="full-width">
        <mat-card class="mat-elevation-z8">
            <svg-icon src="assets/icons/customAdmin/archive.svg"
                      [svgStyle]="{ 'width.px':200, 'height.px':100 }"></svg-icon>
            <div class="your-title">{{ 'mail.ARCHIVE' | translate }}</div>
        </mat-card>

        <mat-card class="mat-elevation-z8">
            <svg-icon src="assets/icons/customAdmin/265695.svg"
                      [svgStyle]="{ 'width.px':200, 'height.px':100 }"></svg-icon>
            <div class="your-title">{{ 'REFERENTIAL.REFERENTIEL' | translate }}</div>
        </mat-card>
    </div>
</div>
