
<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" class="full-width" >


    <mat-card class="mat-elevation-z8" routerLink="/direction" >
        <div class="your-title"> {{ 'REFERENTIAL.ORGANIGRAM' | translate }}</div>
    </mat-card>
    <mat-card class="mat-elevation-z8" routerLink="/direction" >
        <div class="your-title"> {{ 'REFERENTIAL.DIRECTION' | translate }}</div>
    </mat-card>
    <mat-card class="mat-elevation-z8" routerLink="/service" >
        <div class="your-title"> {{ 'REFERENTIAL.SERVICE' | translate }}</div>
    </mat-card>
    <mat-card class="mat-elevation-z8" routerLink="/division" >
        <div class="your-title"> {{ 'REFERENTIAL.DIVISION' | translate }}</div>
    </mat-card>
    <mat-card class="mat-elevation-z8" routerLink="/departement" >
        <div class="your-title"> {{ 'REFERENTIAL.DEPARTMENT' | translate }}</div>
    </mat-card>


</div>
