<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" class="full-width" >


    <mat-card class="mat-elevation-z8" routerLink="/Direction" >
        <div class="your-title"> {{ 'REFERENTIEL.ORGANIGRAM' | translate }}</div>
    </mat-card>
    <mat-card class="mat-elevation-z8" routerLink="/Direction" >
        <div class="your-title"> {{ 'REFERENTIEL.DIRECTION' | translate }}</div>
    </mat-card>
    <mat-card class="mat-elevation-z8" routerLink="/arrivedMail-sc" >
        <div class="your-title"> {{ 'REFERENTIEL.SERVICE' | translate }}</div>
    </mat-card>
    <mat-card class="mat-elevation-z8" routerLink="/arrivedMail-sc" >
        <div class="your-title"> {{ 'REFERENTIEL.DIVISION' | translate }}</div>
    </mat-card>


</div>
