 <mat-toolbar class="p-0 mat-elevation-z1">

    <div fxFlex fxFill fxLayout="row" fxLayoutAlign="start center">

        <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="space-between">

            <div class="logo ml-16">
                <img class="logo-icon" src="assets/images/customAdmin/rim.png">
            </div>

            <div class="title-header_french">
                <div> Republique Islamique de la Mauritanie </div>
                <div> Honneur-Fraternité-Justice </div>
            </div>


            <div class="title-header_arabic">
                <div> الجمهورية الإسلامية الموريتانية </div>
                <div> شرف - إخاء - عدل</div>
            </div>

            <div class="logo"> <svg-icon src="assets/icons/customAdmin/logout.svg" [svgStyle]="{ 'width.px':40, 'height.px':40 }"></svg-icon>  </div>


        </div>

    </div>

</mat-toolbar>
