
<div class="sc-home-container">
  <mat-card>  <svg-icon src="assets/icons/customAdmin/mailbox.svg" [svgStyle]="{ 'width.px':60, 'height.px':60 }"></svg-icon><div class="your-title">Courrier Arrivé</div> </mat-card>
  <mat-card>  <svg-icon src="assets/icons/customAdmin/delivery-truck.svg" [svgStyle]="{ 'width.px':60, 'height.px':60 }"></svg-icon><div class="your-title">Courrier Depart</div></mat-card>
  <mat-card>  <svg-icon src="assets/icons/customAdmin/265695.svg" [svgStyle]="{ 'width.px':60, 'height.px':60 }"></svg-icon><div class="your-title">Archive</div>  </mat-card>
</div>
