table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

td, th {
    width: 50%;
}

.mat-elevation-z8{
    width: 70%;
    flex-direction: column;
    justify-content: center;

}