:host{
    form {
        width: 100%;
        max-width: 1000px !important;
    }

    .form-errors-model {
        flex: 1;

        code {
            background: none !important;
        }
    }
    .mat-card mat-elevation-z4 p-24 mr-24{
        width: 1000px;
        max-width: 1000px;
    }
    .horizontal-stepper-wrapper,
    .vertical-stepper-wrapper {
        max-width: 800px;
    }
}
