
<div id="main">
    <toolbar>   </toolbar>


    <mat-tab-group mat-stretch-tabs>

        <mat-tab label="Instance">  </mat-tab>

        <mat-tab label="{{ 'mail.COURRIER_ARRIVEE' | translate }} ">
            <div id="container-1" class="container">


                <div id="container-2" class="container">

                    <div id="container-3" class="container" >
                        <content></content>


                    </div>
                </div>

            </div>


        </mat-tab>

        <mat-tab label="{{ 'mail.COURRIER_DEPART' | translate }}"> </mat-tab>
        <mat-tab label="{{ 'mail.ARCHIVE' | translate }}">  </mat-tab>
        <mat-tab label="{{ 'REFERENTIEL.REFERENTIEL' | translate }}">
            <app-referential></app-referential>

        </mat-tab>
    </mat-tab-group>
    <footer>  </footer>
</div>




