
<div id="main">
    <toolbar>   </toolbar>

    <navbar variant="horizontal-style-1"
           class="top-navbar" fxHide fxShow.gt-md>
          <!-- *ngIf="!fuseConfig.layout.navbar.hidden"-->
    </navbar>


            <div id="container-1" class="container">


                <div id="container-2" class="container">

                    <div id="container-3" class="container" >
                        <content></content>

                       <!-- <app-arrived-mail-sc></app-arrived-mail-sc>-->


                    </div>
                </div>

            </div>



         <!--   <app-referential></app-referential>-->


    <footer>  </footer>
</div>




