<div class="page-layout carded left-sidebar">

    <!-- TOP BACKGROUND -->
  <!--  <div class="top-bg accent"></div>-->
    <!-- / TOP BACKGROUND -->

<!-- SIDEBAR -->
    <fuse-sidebar class="sidebar" name="carded-left-sidebar-1" position="left" lockedOpen="gt-md" >

        <!-- SIDEBAR HEADER -->
        <div class="header p-24 accent">
            <h2 class="m-0">{{ 'mail.MAIL_INFORMATION' | translate }}</h2>
        </div>
        <!-- / SIDEBAR HEADER -->

        <!-- SIDEBAR CONTENT -->
        <div class="content p-24">
            <fuse-demo-sidebar></fuse-demo-sidebar>
        </div>
        <!-- / SIDEBAR CONTENT -->

    </fuse-sidebar>
    <!-- / SIDEBAR -->





    <!-- CENTER -->
    <div class="center">


        <!-- CONTENT HEADER -->
        <div class="header accent p-24">
            <h2 class="m-0">Left sidebar with content scroll</h2>
        </div>
        <!-- / CONTENT HEADER -->


        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT TOOLBAR -->
            <div class="toolbar px-24 py-8">

              <!--  <button mat-icon-button class="sidebar-toggle" fxHide.gt-md
                        (click)="toggleSidebar('carded-left-sidebar-1')">
                    <mat-icon>menu</mat-icon>
                </button>-->

                <span>Content toolbar</span>

            </div>
            <!-- / CONTENT TOOLBAR -->

            <!-- CONTENT -->
            <div class="content p-24">
                <fuse-demo-content></fuse-demo-content>
            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->









    <!--<div class="content">



            <mat-tab-group>

                <mat-tab label="Shipping">

                    <div class="tab-content p-24" fusePerfectScrollbar fxLayout="column">

                        <div fxLayout="row" fxLayoutAlign="space-between">

                            <mat-form-field appearance="outline" floatLabel="always" fxFlex="30">
                                <mat-label>Width</mat-label>
                                <input matInput placeholder="Width"
                                       name="Width"
                                       formControlName="width">
                                <span matSuffix>cm</span>
                            </mat-form-field>
                        </div>

                        <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                            <mat-label>Weight</mat-label>
                            <input matInput placeholder="Weight"
                                   name="Weight"
                                   formControlName="weight">
                            <span matSuffix>kg</span>
                        </mat-form-field>

                        <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                            <mat-label>Extra Shipping Fee</mat-label>
                            <input matInput placeholder="Extra Shipping Fee"
                                   name="extraShippingFee"
                                   formControlName="extraShippingFee"
                                   type="number">
                            <span matPrefix>$&nbsp;</span>
                        </mat-form-field>

                    </div>

                </mat-tab>

            </mat-tab-group>



    </div>-->

</div>



